@page
@model Conexion.Pages.cliente.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Clientes[0].Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clientes[0].Contrasena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clientes[0].Activo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Clientes) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contrasena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Activo)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ClienteID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ClienteID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ClienteID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
