@page
@model Conexion.Pages.Fac.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Factura[0].PrecioUnitario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Factura[0].Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Factura[0].Subtotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Factura[0].Producto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Factura) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioUnitario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subtotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producto.Nombre)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.FacturaID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.FacturaID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.FacturaID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
